<mat-toolbar color="primary">
	<mat-toolbar-row>
		<div class="container">
			<div class="row">
				<div class="col-4 text-center">
					<ul>
						<li>
							<a mat-button href="#">Link 1</a>
						</li>
					</ul>
				</div>
				<div class="col-4 text-center">
					<ul>
						<li>
							<a mat-button href="#">Link 1</a>
						</li>
					</ul>
				</div>
				<div class="col-4 text-center">
					<ul>
						<li>
							<a mat-button href="#">Link 1</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</mat-toolbar-row>
</mat-toolbar>